* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  background-image: url(img/background.jpeg);
  background-size: 100vw;
  b

}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
h1{
  color: white;
  text-align: center;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 55px;

}


h1{
  color: white;
  text-align: center;
  top: 25%;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 55px;
  font-weight: bold;
}
.javascript{ 
  background-color: black;
  background-image: none;
}
.javaimage{
  width: 313px;
  height: 303px;
  position: absolute;
  left: 70%;
  
}
.htmlcss{
  background-image: none;
}
.htmltxt{
  color: black;
}
.watis{  
  color: white;
  font-size: 30px;
}
.htmlimg{
  height: 400px;
  width: 400px;
  position: absolute;
  left: 15%;
}
.htmltxt2{
  font-size: 30px;
  position: absolute;
  left: 50%;
  
}
.phptxt{
  color: black;
}
.php{
  background-image: none;
}
.phpimg{
  height: 700;
  width: 800;
}
.phptxt2{
  left: 50%;
  position: relative;
  font-size: 30px;
}
.phptxt3{
  font-size: 22;
  position: relative;
  right: 50%;
}
.sql{
  background-image: none;
  background-color: black;
}
.sqltxt{
  color: white;

}
.sqlimg{
  height: 333px;
  width: 500px;
  position: absolute;
  left: 70%;
}
.sqltxt2{
  color: white;
  font-size: 22px;
  left: 50%;
  position: absolute;
}